@model WebChemistry.MotiveAtlas.DataModel.MotiveAtlasObject

@{
    ViewBag.Title = "MotiveAtlas";
}


<div class="well atlas-app-sitebar" style="padding: 0;" id="categories" data-bind="template: { name: templateName, data: data }">    
</div>

<div class="atlas-app-summary" id="summary" data-bind="template: { name: templateName, data: data }">
</div>

<script type="text/html" id="categories-template">
    <div style="padding-left:10px; padding-top: 5px;"><a href="#" style="color: black; font-weight: bold" data-bind="text: DatabaseName, click: showAtlasSummary" style="font-weight: bold"></a> <small><span style="color: gray">Atlas</span></small></div>
    <hr style="margin: 5px 0" />
    <ul class="unstyled" data-bind="foreach: Categories" style="padding-left: 10px">
        <li>
            <i class="icon-minus"></i><a style="font-weight:bold; margin-left: 3px" href="#" data-bind="text: Name, click: showCategorySummary"></a> <small><span data-bind="text: SubCategories.length" style="color: gray"></span></small>
            <ul data-bind="foreach: SubCategories" class="unstyled" style="padding-left:12px">
                <li>
                    <i class="icon-minus"></i><a href="#" style="font-style:italic; margin-left: 3px" data-bind="text: Name, click: showSubCategorySummary"></a> <small><span data-bind="    text: Motives.length" style="color: gray"></span></small>
                    <ul data-bind="foreach: Motives" class="unstyled" style="padding-left: 23px">
                        <li>
                            <a href="#" data-bind="text: Name, click: showMotiveSummary"></a> <small><span data-bind="    text: MotiveCount" style="color: gray"></span></small>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>              
    </ul>
</script>

<script type="text/html" id="busy-template">
    <div style="height: 100%; width:100%;" id="busySpinner"></div>
</script>

<script type="text/html" id="failed-template">
    <div>
        <h3>Error:</h3>
        <p data-bind="text: errorText"></p>
    </div>
</script>

<script type="text/html" id="motive-summary-template">
    <ul class="breadcrumb pull-left">
        <li><span data-bind="text: CategoryName" class="active"></span> <span class="divider">/</span></li>
        <li><span data-bind="text: SubCategoryName" class="active"></span> <span class="divider">/</span></li>
        <li class="active" data-bind="text: Name"></li>
    </ul>
    <div class="btn-group" style="position: fixed; right: 20px; top: 60px; z-index:1000">
        <button class="btn btn-inverse disabled"><i class="icon-download-alt icon-white"></i></button>
        <a class="btn btn-inverse" data-bind="attr: { href: '@Url.Action("DownloadMotives", "MotiveAtlas")/' + UId }"><b>Motifs</b></a>
        <a class="btn btn-inverse" data-bind="attr: { href: '@Url.Action("DownloadStructureIndex", "MotiveAtlas")/' + UId }"><b>Index</b></a>
        <a class="btn btn-inverse" data-bind="attr: { href: '@Url.Action("StructureList", "MotiveAtlas")/' + UId }" target="_blank"><b>Structure List</b></a>
        <a class="btn btn-inverse" data-bind="attr: { href: '@Url.Action("Summary", "MotiveAtlas")/' + UId }" target="_blank"><b>Summary</b></a>
    </div>
    <div style="clear: both"></div>

    <div class="row-fluid">
        <div class="span6">
            <div class="row-fluid">
                <div class="span12">
        <h1><span data-bind="text: Name"></span> <small><span data-bind="text: MotiveCount"></span> motifs in <span data-bind="    text: StructureCount"></span> structures</small></h1>    
        <p><i><span data-bind="text: Description"></span></i></p>
        <hr />    
                    
                <div>   
                    <div>
                        <b>Top 10 structures</b>
                        <ul data-bind="foreach: Object.keys(TopStructures)" class="unstyled">
                            <li class="pull-left atlas-app-top-list-entry" ><a data-bind="text: $data, attr: { href: '//www.ebi.ac.uk/pdbe/entry/pdb/' + $data }" target="_blank"></a> - <span data-bind="    text: $parent.TopStructures[$data]"></span></li>
                        </ul>        
                        <div style="clear:both"></div>
                    </div>
                    <br />
            <div>
                <b>Top 10 counted surrounding residues</b>
                <ul data-bind="foreach: Object.keys(TopCountedResidueSurroundings)" class="unstyled">
                    <li class="pull-left atlas-app-top-list-entry"><a data-bind="text: $data.length == 0 ? 'empty' : $data" href="#"></a> - <span data-bind="    text: $parent.TopCountedResidueSurroundings[$data]"></span></li>
                </ul>
                <div style="clear:both"></div>
            </div>
            <br />
    <div>        
        <b>Top 10 unique surrounding residues</b>
        <ul data-bind="foreach: Object.keys(TopUniqueResidueSurroundings)" class="unstyled">
            <li class="pull-left atlas-app-top-list-entry"><a data-bind="text: $data.length == 0 ? 'empty' : $data" href="#"></a> - <span data-bind="    text: $parent.TopUniqueResidueSurroundings[$data]"></span></li>
        </ul>
        <div style="clear:both"></div>
    </div>
                    </div>
                    </div>
            </div>
      </div>

    <div class="span6">
        
    <canvas id="model" style="min-width: 400px; height: 400px; margin: 0 20px; float: left; background: black">
    </canvas>
        </div>
    </div>

    <div id="residuesChart" style="min-width: 600px; height: 400px; margin: 0 auto">
    </div>
    <div id="chargeTypeChart" style="min-width: 600px; height: 400px; margin: 0 auto">
    </div>
</script>

<script type="text/html" id="subcategory-summary-template">
    <ul class="breadcrumb pull-left">
        <li><span data-bind="text: CategoryName" class="active"></span> <span class="divider">/</span></li>
        <li class="active" data-bind="text: Name"></li>
    </ul>
    <div class="btn-group" style="position: fixed; right: 20px; top: 60px; z-index:1000">
        <button class="btn btn-inverse disabled"><i class="icon-download-alt icon-white"></i></button>
        <a class="btn btn-inverse" data-bind="attr: { href: '@Url.Action("DownloadStructureIndex", "MotiveAtlas")/' + UId }"><b>Index</b></a>
        <a class="btn btn-inverse" data-bind="attr: { href: '@Url.Action("StructureList", "MotiveAtlas")/' + UId }" target="_blank"><b>Structure List</b></a>
        <a class="btn btn-inverse" data-bind="attr: { href: '@Url.Action("Summary", "MotiveAtlas")/' + UId }" target="_blank"><b>Summary</b></a>
    </div>
    <div style="clear: both"></div>

    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span12">
        <h1><span data-bind="text: Name"></span> <small><span data-bind="    text: MotiveCount"></span> motifs in <span data-bind="    text: StructureCount"></span> structures divided to <span data-bind="    text: MotiveCategoryCount"></span> classes.</small></h1>    
        <p><i><span data-bind="text: Description"></span></i></p>
        <hr />    
                    
                <div>   
            <div>
                <b>Top 10 counted surrounding residues</b>
                <ul data-bind="foreach: Object.keys(TopCountedResidueSurroundings)" class="unstyled">
                    <li class="pull-left atlas-app-top-list-entry"><a data-bind="text: $data.length == 0 ? 'empty' : $data" href="#"></a> - <span data-bind="    text: $parent.TopCountedResidueSurroundings[$data]"></span></li>
                </ul>
                <div style="clear:both"></div>
            </div>
            <br />
    <div>        
        <b>Top 10 unique surrounding residues</b>
        <ul data-bind="foreach: Object.keys(TopUniqueResidueSurroundings)" class="unstyled">
            <li class="pull-left atlas-app-top-list-entry"><a data-bind="text: $data.length == 0 ? 'empty' : $data" href="#"></a> - <span data-bind="    text: $parent.TopUniqueResidueSurroundings[$data]"></span></li>
        </ul>
        <div style="clear:both"></div>
    </div>
                    </div>
                    </div>
            </div>
      </div>
</script>

<script type="text/html" id="category-summary-template">
    <ul class="breadcrumb pull-left">
        <li class="active" data-bind="text: Name"></li>
    </ul>
    <div class="btn-group" style="position: fixed; right: 20px; top: 60px; z-index:1000">
        <button class="btn btn-inverse disabled"><i class="icon-download-alt icon-white"></i></button>
        <a class="btn btn-inverse" data-bind="attr: { href: '@Url.Action("DownloadStructureIndex", "MotiveAtlas")/' + UId }"><b>Index</b></a>
        <a class="btn btn-inverse" data-bind="attr: { href: '@Url.Action("StructureList", "MotiveAtlas")/' + UId }" target="_blank"><b>Structure List</b></a>
        <a class="btn btn-inverse" data-bind="attr: { href: '@Url.Action("Summary", "MotiveAtlas")/' + UId }" target="_blank"><b>Summary</b></a>
    </div>
    <div style="clear: both"></div>

    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span12">
        <h1><span data-bind="text: Name"></span> <small><span data-bind="    text: MotiveCount"></span> motifs in <span data-bind="    text: StructureCount"></span> structures divided to <span data-bind="    text: SubCategoryCount"></span> subcategoies.</small></h1>    
        <p><i><span data-bind="text: Description"></span></i></p>
        <hr />    
                    
                <div>   
            <div>
                <b>Top 10 counted surrounding residues</b>
                <ul data-bind="foreach: Object.keys(TopCountedResidueSurroundings)" class="unstyled">
                    <li class="pull-left atlas-app-top-list-entry"><a data-bind="text: $data.length == 0 ? 'empty' : $data" href="#"></a> - <span data-bind="    text: $parent.TopCountedResidueSurroundings[$data]"></span></li>
                </ul>
                <div style="clear:both"></div>
            </div>
            <br />
    <div>        
        <b>Top 10 unique surrounding residues</b>
        <ul data-bind="foreach: Object.keys(TopUniqueResidueSurroundings)" class="unstyled">
            <li class="pull-left atlas-app-top-list-entry"><a data-bind="text: $data.length == 0 ? 'empty' : $data" href="#"></a> - <span data-bind="    text: $parent.TopUniqueResidueSurroundings[$data]"></span></li>
        </ul>
        <div style="clear:both"></div>
    </div>
                    </div>
                    </div>
            </div>
      </div>
</script>

<script type="text/html" id="atlas-summary-template">
    <h1>MotiveAtlas <small>Browse and analyze 3D structural motifs.</small></h1>
    <hr />
    <div>
        <p>Atlas contains <span data-bind="text: CategoryCount"></span> categories, <span data-bind="    text: SubCategoryCount"></span> subcategories, and <span data-bind="    text: MotiveCategoryCount"></span> motif types.<br />
        <span data-bind="text: MotiveCount"></span> motifs were indentified in <span data-bind="    text: StructureCount"></span> structures from <span data-bind="    text: DatabaseName"></span> database.<br />
        Last Updated: <span data-bind="text: DateCreatedUtc"></span></p>
    </div>
</script>

@section scripts {
    @Scripts.Render("~/scripts/spin.js")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/chemdoodle")
    @Scripts.Render("~/bundles/highcharts")
    <script type="text/javascript">
        
        function makeSpinner(elem) {
            var target = document.getElementById(elem);
            var spinner = new Spinner({ hwaccel: true, radius: 25, length: 15, width: 8, lines: 13 }).spin(target);
        }

        var summaryXHR = undefined;
        
        function getSummary(url, action) {
            if (summaryXHR) {
                summaryXHR.abort();
            }

            ko.applyBindings({ templateName: "busy-template", data: {} }, document.getElementById("summary"));
            makeSpinner("busySpinner");
            summaryXHR = $.get(url)
                .done(action)
                .fail(function (jqXHR, textStatus, errorThrown) { ko.applyBindings({ templateName: "fail-template", data: { errorText: textStatus } }, document.getElementById("summary")); })
                .always(function () { summaryXHR = undefined; });
        }

        function showAtlasSummary() {
            getSummary("@Url.Action("Summary", "MotiveAtlas")/", function (result) {
                ko.applyBindings({ templateName: "atlas-summary-template", data: result }, document.getElementById("summary"));
            });
        }
        
        function showCategorySummary(cat, event) {            
            var UId = cat.Id;
            getSummary("@Url.Action("Summary", "MotiveAtlas")/" + UId, function (result) {
                result.UId = UId;
                ko.applyBindings({ templateName: "category-summary-template", data: result }, document.getElementById("summary"));
                if (event) {
                    $(event.target).siblings("i").each(function () {
                        var $this = $(this);
                        if ($this.hasClass("icon-plus")) {
                            $this.click();
                        }
                    });
                }
            });
        }

        function showSubCategorySummary(scat, event) {
            var UId = scat.CategoryId + "/" + scat.Id;
            getSummary("@Url.Action("Summary", "MotiveAtlas")/" + UId, function (result) {
                result.UId = UId;
                ko.applyBindings({ templateName: "subcategory-summary-template", data: result }, document.getElementById("summary"));

                if (event) {
                    $(event.target).siblings("i").each(function () {
                        var $this = $(this);
                        if ($this.hasClass("icon-plus")) {
                            $this.click();
                        }
                    });
                }
            });
        }
                
        function showMotiveSummary(motive) {
            var UId = motive.CategoryId + "/" + motive.SubCategoryId + "/" + motive.Id;

            getSummary("@Url.Action("Summary", "MotiveAtlas")/" + UId, function (result) {
                result.UId = UId;
                ko.applyBindings({ templateName: "motive-summary-template", data: result }, document.getElementById("summary"));
                if (result.ResidueFrequencyAnalysis) showChart(result, result.ResidueFrequencyAnalysis, "#residuesChart", "Ambient Residue Frequencies (> 0.005)", { trim: true, rotateLabels: true });
                if (result.ResidueChargeTypeFrequencyAnalysis) showChart(result, result.ResidueChargeTypeFrequencyAnalysis, "#chargeTypeChart", "Residues by Charge Type", { trim: false, rotateLabels: false });
                showModel(result);
                //window.history.pushState("ca", "Motive Atlas - " + motive.Name, "/MotiveAtlas/" + motive.CategoryId + "/" + motive.SubCategoryId + "/" + motive.Id);
            });
        }

        var reader = new ChemDoodle.io.PDBInterpreter();
        reader.calculateRibbonDistances = true;
        reader.deduceResidueBonds = true;

        function showModel(motive) {
            var transformStick = new ChemDoodle.TransformCanvas3D('model', 400, 400);
            transformStick.specs.set3DRepresentation('van der Waals Spheres');
            transformStick.specs.backgroundColor = 'white';
            var pdbFile = motive.PivotPdbString;
            //console.log(pdbFile);
            
            var molecule = reader.read(pdbFile);
            transformStick.loadMolecule(molecule);
            transformStick = null;
        }

        function showChart(motive, analysis, target, subtitle, options) {

            if (options === undefined) options = { };

            var fa = analysis;
            var allCats = Object.keys(fa.Motives.Frequencies).sort();
            var cats = [];
            var motiveSeries = { name: "Fragments", data: [] };
            var structuresSeries = { name: "Structures w/ Fragment", data: [] };
            var databaseSeries = { name: "Entire Database", data: [] };

            _.forEach(allCats, function (c) {
                var fM = fa.Motives.Frequencies[c], fS = fa.Structures.Frequencies[c], fD = fa.Database.Frequencies[c];
                var threshold = 0.005;
                if (!options.trim || fM >= threshold || fS >= threshold || fD >= threshold) {
                    cats.push(c);
                    motiveSeries.data.push(fM);
                    structuresSeries.data.push(fS);
                    databaseSeries.data.push(fD);
                }
            });

            $(target).highcharts({
                chart: {
                    type: 'column',
                    margin: [50, 50, 100, 80]

                },
                title: {
                    text: motive.Name + " - " + subtitle
                },
                xAxis: {
                    categories: cats,
                    labels: {
                        rotation: options.rotateLabels ? -90 : 0,
                        align: options.rotateLabels ? 'right' : 'center',
                        style: {
                            fontSize: '10px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Frequency'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.5f}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [motiveSeries, structuresSeries, databaseSeries]
            });
        }

        //function processAjaxData(response, urlPath) {
        //    document.getElementById("content").innerHTML = response.html;
        //    document.title = response.pageTitle;
        //    window.history.pushState({ "html": response.html, "pageTitle": response.pageTitle }, "", urlPath);
        //}

        //window.onpopstate = function (e) {
        //    if (e.state) {
        //        document.getElementById("content").innerHTML = e.state.html;
        //        document.title = e.state.pageTitle;
        //    }
        //};

        function updateAtlas(atlas) {
            _.forEach(atlas.Categories, function (cat) {
                _.forEach(cat.SubCategories, function (scat) {
                    scat.CategoryId = cat.Id;
                    _.forEach(scat.Motives, function (mot) {
                        mot.CategoryId = cat.Id;
                        mot.SubCategoryId = scat.Id;
                    });
                });
            });

            ko.applyBindings({ templateName: "categories-template", data: atlas }, document.getElementById("categories"));

            $("#categories i").click(function () {
                var $e = $(this);
                if ($e.hasClass("icon-plus")) {
                    $e.removeClass("icon-plus").addClass("icon-minus");
                } else {
                    $e.removeClass("icon-minus").addClass("icon-plus");
                }
                $e.siblings("ul").toggle() 
            });

            $("#categories i").click();
        }

        function loadCategories() {
            ko.applyBindings({ templateName: "busy-template", data: {} }, document.getElementById("categories"));
            $.get("@Url.Action("Categories", "MotiveAtlas")/")
                .done(function (result) { updateAtlas(result); })
                .fail(function (jqXHR, textStatus, errorThrown) { ko.applyBindings({ templateName: "fail-template", data: { errorText: textStatus } }, document.getElementById("categories")); });
        }

        !function ($) {
            $(function () {
                //showCategorySummary({ Id: "atoms" });
                loadCategories();
                showAtlasSummary();
                //showMotiveSummary({ CategoryId: "atoms", SubCategoryId: "metals", Id: "ca" });
            });
        }(window.jQuery)
    </script>
}