@*<li class="menu-header">Motif Analysis</li>*@


<li>
    <a href="https://litemol.org" target="_blank">
        <div style="float: left"><i class="icon-heart"></i></div>
        <div class="app-panel">LiteMol<br /> <span class="app-description">A powerful 3D molecular viewer</span> </div>
        <div class="app-clear"></div>
    </a>
</li>

<li class="divider"></li>

<li>
    <a href="@Url.Action("Index", "PatternQuery")">
        <div style="float: left"><i class="icon-PatternQuery"></i></div>
        <div class="app-panel">PatternQuery<br /> <span class="app-description">Find atom patterns in molecular databases</span> </div>
        <div class="app-clear"></div>
    </a>
</li>
<li>
    <a href="https://webchem.ncbr.muni.cz/CoordinateServer" target="_blank">
        <div style="float: left"><i class="icon-signal"></i></div>
        <div class="app-panel">CoordinateServer<br /> <span class="app-description">Streaming of 3D molecular data</span> </div>
        <div class="app-clear"></div>
    </a>
</li>
<li>
    <a href="https://webchem.ncbr.muni.cz/DensityServer" target="_blank">
        <div style="float: left"><i class="icon-screenshot"></i></div>
        <div class="app-panel">DensityServer<br /> <span class="app-description">Streaming of 3D experimental data</span> </div>
        <div class="app-clear"></div>
    </a>
</li>
<li>
    <a href="https://acc2.ncbr.muni.cz">
        <div style="float: left"><i class="icon-star"></i></div>
        <div class="app-panel">@WebChemistry.Web.Controllers.ChargeCalculatorController.AppName <span style="color: #28a745"> II</span><br /> <span class="app-description">Compute, compare, and visualize atomic charges</span> </div>
        <div class="app-clear"></div>
    </a>
</li>

<li class="divider"></li>

<li>
    <a href="@Url.Action("Index", "MotiveValidator")">
        <div style="float: left"><i class="icon-check"></i></div> 
        <div class="app-panel">MotiveValidator<br/> <span class="app-description">Validate residues, ligands, and molecular fragments</span> </div>
        <div class="app-clear"></div>
    </a>
</li>
<li>
    <a href="@Url.Action("Index", "ValidatorDb")">
        <div style="float: left"><i class="icon-ok-circle"></i></div>
        <div class="app-panel">Validator<sup>DB</sup><br /> <span class="app-description">PDB database validated using MotiveValidator</span> </div>
        <div class="app-clear"></div>
    </a>
</li>
<li>
    <a href="https://valtrendsdb.biodata.ceitec.cz/" target="_blank">
        <div style="float: left"><i class="icon-indent-left"></i></div>
        <div class="app-panel">ValTrends<sup>DB</sup><br /> <span class="app-description">Discover trends in structure quality</span> </div>
        <div class="app-clear"></div>
    </a>
</li>

<li class="divider"></li>

<li>
    <a href="@Url.Action("Mole", "App")">
        <div style="float: left"><i class="icon-mole"></i></div> 
        <div class="app-panel">MOLE 2.5<br/> <span class="app-description">Compute and analyze channels</span> </div>
        <div class="app-clear"></div>
    </a>
</li>

<li class="divider"></li>

<li>
    <a href="@Url.Action("CrocoBLAST", "App")">
        <div style="float: left"><i class="icon-fire"></i></div>
        <div class="app-panel">CrocoBLAST<br /> <span class="app-description">Local sequence alignment</span> </div>
        <div class="app-clear"></div>
    </a>
</li>



@if (Request.IsAuthenticated)
{
<li class="divider"></li>

<li>
    <a href="@Url.Action("Index", "Data")">
        <div style="float: left"><i class="icon-data"></i></div> 
        <div class="app-panel">Databases<br/> <span class="app-description">Browse available databases and create views</span> </div>
        <div class="app-clear"></div>
    </a>
</li>
}
